<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CatalinaOut" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/ljw/logs/catalina.txt" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="BufferedIO" value="true" />
		<param name="BufferSize" value="8192" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[SUP3][%d{yyyyMMdd HH:mm:ss SSS}]%c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[SUP3][%d{yyyyMMdd HH:mm:ss SSS}]%c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	

	

	<appender name="systemAnalysisLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/ljw/analysis/SYSTEM_ANALYSIS_LOG.txt" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="systemErrorLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/ljw/error/SYSTEM_ERROR_LOG.txt" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	

	<logger name="systemAnalysisLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="systemAnalysisLoggerAppender" />
	</logger>

	<logger name="systemErrorLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="systemErrorLoggerAppender" />
	</logger>

	

	<logger name="net.sf.ehcache">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework.security">
		<level value="ERROR" />
	</logger>

	<logger name="com.opensymphony.xwork2">
		<level value="FATAL" />
	</logger>

	<logger name="org.springframework">
		<level value="ERROR" />
	</logger>

	<logger name="com.mchange.v2">
		<level value="ERROR" />
	</logger>

	
	<logger
		name="com.ljw.action.sdk.BaseAction">
		<level value="info" />
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
